.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.form-row input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(0, 100%, 0%);
  box-sizing: border-box;
}

.form-row input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.Todo-Btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.Todo-Btn:hover,
.Todo-Btn:focus-visible {
  background: hsl(200, 100%, 50%, 0.2);
}
